EssentialUIKit/bin/
EssentialUIKit/obj/
EssentialUIKit.Android/obj/
EssentialUIKit.Android/bin/
EssentialUIKit.iOS/bin/
EssentialUIKit.iOS/obj/
EssentialUIKit.UWP/bin/
EssentialUIKit.UWP/obj/
EssentialUIKit.Android/Resources/Resource.designer.cs
.vs/